Python Fundamental Data Types

In [1]:
a=10
type(a)

int

In [2]:
a=10.0
type(a)

float

In [3]:
b="python"
type(b)

str

In [6]:
## triple quotes for multiline strings
c= '''Data Engineering 
Python'''
type(c)

str

In [7]:
a= True
type(a)

bool

In [8]:
b= False
type(b)

bool

In [9]:
a=10
b=20
c=a>b
c

False

In [10]:
print(True+True)

2

In [11]:
# complex number declaration
c=10+20j
print(c)
print(type(c))

(10+20j)
<class 'complex'>

In [12]:
#both variables a and b have the same id as they are bothing to the object with value 10
a=10
print(id(a))

8885288

In [13]:
b=10

In [14]:
print(id(b))

8885288

In [15]:
# new object is created, hence id is different. 
a=20
print(id(a))

8885608

In [17]:
s= "Data engineering"

In [19]:
# s[-n] retreives nth string from the end
s[-2]

'n'

In [20]:
# s[n] retreives n+1 th string from the start
s[2]

't'

In [21]:
# retreives s[start:end-1]
s[0:4]

'Data'

In [22]:
s="abcdefghijklmnopqrstuvwxyz"
s[-3:]

'xyz'

In [23]:
s[:14]

'abcdefghijklmn'

In [24]:
# does not give an error
s[3:1000]

'defghijklmnopqrstuvwxyz'

In [1]:
is_geological_survey_complete = True

is_environmental_clearance_received = True

is_market_demand_high = False

In [2]:
should_start_drilling = is_geological_survey_complete and is_environmental_clearance_received and is_market_demand_high

In [3]:
print("should we start drilling?", should_start_drilling)

should we start drilling? False

In [4]:
# Boolean Variables
HasExplorationPermit = True
HasDrillingRights = True
HasEnvironmentalApproval = False
HasOilDiscovery = True

 

# Logical Operations
IsExplorationAllowed = HasExplorationPermit and HasDrillingRights and not HasEnvironmentalApproval
IsDiscoveryProfitable = HasOilDiscovery and (HasExplorationPermit or HasDrillingRights)

In [5]:
print(IsExplorationAllowed)
print(IsDiscoveryProfitable)

True
True

In [7]:
"ten"+"twenty"

'tentwenty'

In [9]:
"ten"*2

'tenten'

List:
    1. Heterogeneous objects are allowed.
    2. DUplicates are allowed
    3. Indexing and slicing are possible.
    4. Mutable: can add and remove elements from it.
    5. Enclosed in a square bracket.
    6. Order is preserved.

In [11]:
a=[10,"python",5.6,True]

In [12]:
print(a)
print(type(a))

[10, 'python', 5.6, True]
<class 'list'>

In [14]:
a[-1]

True

In [15]:
a[1:]

['python', 5.6, True]

In [16]:
id(a)

140640180079744

In [17]:
a.append(999)
a

[10, 'python', 5.6, True, 999]

In [18]:
id(a)

140640180079744

In [19]:
a.remove(10)
a

['python', 5.6, True, 999]

Tuple:
    1. ()
    2. Tuple is same as list: only difference is tuple is immutable

In [21]:
a= ("Well A", "2023-09-15","Pipeline",True,100)
type(a)

tuple

In [24]:
# Employee details

name = "John Doe"

job_title = "Senior Geologist"

department = "Geology"

email = "johndoe@email.com"

phone = "123-456-7890"

In [25]:
employee_info=f"Employee Information: \nName: {name} \nJob Title:{job_title} \nDepartment: {department} \nEmail:{email} \nPhone:{phone} "

In [26]:
print(employee_info)

Employee Information:
Name: John Doe
Job Title:Senior Geologist
Department: Geology
Email:johndoe@email.com
Phone:123-456-7890

SET:
    1. {}
    2.Heterogeneous object, no duplicates allowed
    3. Mutable

In [29]:
c={10,"Shell"}
c.add("SQL")
c

{10, 'SQL', 'Shell'}

Dictionary:
    1. {}
    2. Key value
    3. Heterogenous
    4. Duplicates
    5. Mutable

In [31]:
d={"location":"WellA"}

In [32]:
print(type(d))

<class 'dict'>

In [33]:
# List of Equipment
refineryEquipment = ["Crude Distillation Unit", "Catalytic Cracking Unit", "Hydrotreating Unit", "FCC Unit"]


# Membership Operator
IsUnitInstalled = "Hydrotreating Unit" in refineryEquipment
IsUnitObsolete = "Thermal Cracking Unit" not in refineryEquipment


print("Is Hydrotreating Unit installed?", IsUnitInstalled)
print("Is Thermal Cracking Unit obsolete?", IsUnitObsolete)

Is Hydrotreating Unit installed? True
Is Thermal Cracking Unit obsolete? True

In [34]:
employees = [
    "John Doe, Senior Geologist, Geology, johndoe@email.com, 123-456-7890",
    "Jane Smith, Drilling Engineer, Drilling, janesmith@email.com, 987-654-3210",
    "Bob Johnson, Reservoir Engineer, Reservoir Engineering, bobjohnson@email.com, 456-789-0123",
    "Alice Brown, Petrophysicist, Petrophysics, alicebrown@email.com, 789-012-3456"
]

In [35]:
employees[0]

'John Doe, Senior Geologist, Geology, johndoe@email.com, 123-456-7890'

In [38]:
new_employee = "Eva Green, Drilling Technician, Drilling, evagreen@email.com, 111-222-3333"

In [39]:
employees.append(new_employee)
employees

['John Doe, Senior Geologist, Geology, johndoe@email.com, 123-456-7890',
 'Jane Smith, Drilling Engineer, Drilling, janesmith@email.com, 987-654-3210',
 'Bob Johnson, Reservoir Engineer, Reservoir Engineering, bobjohnson@email.com, 456-789-0123',
 'Alice Brown, Petrophysicist, Petrophysics, alicebrown@email.com, 789-012-3456',
 'Eva Green, Drilling Technician, Drilling, evagreen@email.com, 111-222-3333']

Flow Control

In [ ]:
Selection Statement

In [42]:
low_fuel_threshold=1000
critical_fuel_threshold=500
current_fuel_level= int(input("enter current fuel level"))

enter current fuel level1500

In [43]:
if(current_fuel_level<critical_fuel_threshold):
    print("Critical fuel level reached.Take immediate action.")

elif(current_fuel_level<low_fuel_threshold):
    print("Send fuel low alert")

else:
    print("continue fueling")

continue fueling

In [44]:
l1= ['a','b','c']
l2= ["Sales","IT","Finance"]

In [45]:
l= list(zip(l1,l2))
l

[('a', 'Sales'), ('b', 'IT'), ('c', 'Finance')]

In [46]:
oil_gas_data = [
    ("Field A", "Texas", 500000),
    ("Field B", "Alaska", 800000),
    ("Field C", "North Sea", 300000),
    ("Field D", "Gulf of Mexico", 600000),
]

In [51]:
field_name, location, reserves= zip(*oil_gas_data)
field_name

('Field A', 'Field B', 'Field C', 'Field D')

In [48]:
e= list(enumerate(location))
e

[(0, 'Texas'), (1, 'Alaska'), (2, 'North Sea'), (3, 'Gulf of Mexico')]

In [49]:
for index, field_data in enumerate(oil_gas_data):
    field_name, location, reserve = field_data
    print(f"Field {index+1}: {field_name} is located in {location} with reserves of {reserve} barrels.")

Field 1: Field A is located in Texas with reserves of 500000 barrels.
Field 2: Field B is located in Alaska with reserves of 800000 barrels.
Field 3: Field C is located in North Sea with reserves of 300000 barrels.
Field 4: Field D is located in Gulf of Mexico with reserves of 600000 barrels.

In [52]:
print(location)

('Texas', 'Alaska', 'North Sea', 'Gulf of Mexico')

In [55]:
from collections import Counter
count_location= Counter(location)
count_location

Counter({'Texas': 1, 'Alaska': 1, 'North Sea': 1, 'Gulf of Mexico': 1})